img.header{
   height:60vh; 
   width="100%
}
div.nav{
   background-color: rgba(163, 109, 48, 0.607);
   padding: .3%;
   width: 45%;
   float: right;
   border-radius: 20px;
   margin-top: .7%;
   margin-bottom: 1%;
}
ul.nav{
    display: flex;
    list-style-type:none;
}
ul.nav li{
    margin-left: 12%;
}
li.home a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding: 20%;
}
li.home a:link{
    color: rgb(132, 65, 34);
}
li.home a:visited{
    color: rgb(132, 65, 34);
}
li.feed a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;  
    padding: 15%; 
}
li.feed a:link{
    color: rgb(132, 65, 34);
}
li.feed a:visited{
    color: rgb(132, 65, 34);
}
li.about a:visited{
    color: rgb(132, 65, 34);
}
li.about a:link{
    color: rgb(132, 65, 34);
}
li.about a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding: 20%;
}
li.home a:hover{
    background-color: rgba(128, 63, 17, 0.653);
    color: seashell;
    border-radius: 15px;
}
li.feed a:hover{
    background-color: rgba(128, 63, 17, 0.653);
    border-radius: 15px;
    color: seashell;
}
li.about a:hover{
    background-color: rgba(128, 63, 17, 0.653);
    border-radius: 15px;
    color: seashell;
}
div.search{
    display: flex;
    margin-bottom: 3%;
    margin-top: 2%;
    margin-left: 2%;

}
h3#search{
    color: saddlebrown;
    margin: .5%;
}
form.search{
    margin-left: 2%;
    display: flex;
}
#input1{
    border: none;
    outline: none;
    border-bottom: rgb(96, 54, 2) solid 2px;
    border-left: rgb(96, 54, 2) solid 2px;
    background-color: transparent;
    border-radius: 15px;
}
#input2{
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: rgb(231, 160, 68);
    color: saddlebrown;
    margin-left: 2.5%;
    font-weight: bold;
}
#input2:hover{
    background-color: rgb(172, 87, 27);
    color: seashell;
}
footer.footer{
    background-color: rgb(2, 11, 39);
    font-style: oblique;
    color:#fff5ee;
    margin: 0 10 0 10px;
}
div.social-icons{
    margin-left: 30px;
    margin-top: 30px;
}
img.face{
width: 22px;
}
img.insta{
width: 22px;
}
img.twit{
 width: 22px;
 }
 img.whats{
  width: 22px;
 }
 p#copy-right{
     text-align: center;
 }
 p#copy-right span{
     color: rgb(182, 101, 64);
     font-family: serif;
 }
footer.footer p.foot{
    display: inline-block;
    font-weight: bold;
}
p.foot{
    margin: 20px 50px 0px 30px;
}
div.null{
    color: slategray;
    font-size: smaller;
    margin-top: -60px;
    margin-left: 522px;
}
div.null2{
    color: slategray;
    font-size: smaller; 
    margin-top: -80px;
    margin-left: 220px;
    margin-bottom: 80px;
}
body.home{
    background-color:seashell ;
}
iframe.iframe-home{
        border-radius: 20px;
        border-color: black;
        width:100%;
    margin-bottom:2%;
}
div.iframe-home{
    background-color: #f7d49e;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5%;
    margin-top: 7%;
}

body.rooms1{
    background-color: seashell;
    }

h1.title{
    color: saddlebrown;
    margin: 2%;
  
}
video.rooms{
  width: 40%;
   height: 300px;
    border-radius: 25px;
    margin-left: 30%;
    margin-right:30%;
}
button.reception{
    background-color: saddlebrown;
    color: seashell;
    padding: 1.5%;
    margin: 1%;
    border-radius: 15px;
    border: none;
    font-size: large;
}
button.reception:hover{
 background-color: rgb(107, 46, 3);
}
button.rooms{
    background-color: saddlebrown;
    color: seashell;
    padding: 1.5%;
    margin: 1%;
    border-radius: 15px;
    border: none;
    font-size: large;
}
button.rooms:hover{
    background-color: rgb(107, 46, 3);
   }
button.disabled{
    background-color: saddlebrown;
    color: seashell;
    padding: 1.5%;
    margin: 1%;
    border-radius: 15px;
    border: none;
    font-size: large;
}
button.disabled:hover{
    background-color: rgb(107, 46, 3);
   }
button.resturant{
    background-color: saddlebrown;
    color: seashell;
    padding: 1.5%;
    margin: 1%;
    border-radius: 15px;
    border: none;
    font-size: large;
}
button.resturant:hover{
    background-color: rgb(107, 46, 3);
   }
button.waterbodies{
    background-color: saddlebrown;
    color: seashell;
    padding: 1.5%;
    margin: 1%;
    border-radius: 15px;
    border: none;
    font-size: large;
}
button.waterbodies:hover{
    background-color: rgb(107, 46, 3);
   }
button.trips{
    background-color: saddlebrown;
    color: seashell;
    padding: 1.5%;
    margin: 1%;
    border-radius: 15px;
    border: none;
    font-size: large;
}
button.trips:hover{
    background-color: rgb(107, 46, 3);
   }
section.categories{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10%;
}
section.about-us{
    padding-bottom: 10%;
    padding-top: 5%;
}
h2.welcome{
    color: rgb(125, 57, 9);
    font-style: italic;
    margin: 2%;
}
p.welcome{
    color: rgb(183, 121, 76);
    font-weight: bold;
    font-style: italic;
    margin-left: 7%;
}
span.welcome{
    color: sandybrown;
}
h2.single{
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 3%;
    color: saddlebrown;
}
p.single{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
margin-left: 7%;
margin-right: 25%;
}
h2.double{
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 3%;
    color: saddlebrown;
}
p.double{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
  margin-left: 7%;
  margin-right: 25%;
}
h2.triple{
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 4%;
    color: saddlebrown;
}
p.triple{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
  margin-left: 7%;
  margin-right: 25%;
}
h2.family{
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 3%; 
    color: saddlebrown; 
}
div.family{
    margin-left:5%;
    margin-right:5%;
}
p.family{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
  margin-left: 7%;
  margin-right: 25%;
}
h2.suite{
    margin-top: 4%;
    margin-bottom: 1%;
    margin-left: 3%; 
    color:darkcyan ;
}
p.suite{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
  margin-left: 7%;
  margin-right: 25%;
}
h1.spetial{
   font-family:fantasy;
   font-weight: lighter;
   color: rgb(18, 7, 113);
   text-decoration: overline underline;
   text-decoration-style: double;
   margin:5%;
   text-align: center;
   background-color: antiquewhite;
   padding-top: 5%;
   padding-bottom: 5%;
}
button.booking{
   color: seashell;
   background-color: #0f2153;
   border: none;
   padding: 10px;
   border-radius: 10px;
   margin-left: 8%;
   border: none;
}
button.booking:hover{
    background-color: #556388c7;
    color: #0f2153;
    font-weight: bold;
}
h3.price1{
    margin-left:8%;
    margin-top:2%;
    color: sienna;
}
h5.price2{
    margin-left:9%;
    margin-top:2%;
}
h3.price3{
    margin-left:8%;
    margin-top:2%;
    color: sienna;
}
h5.price4{
    margin-left:9%;
    margin-top:2%;
}
h3.price5{
    margin-left:8%;
    margin-top:2%;
    color: sienna;
}
h5.price6{
    margin-left:9%;
    margin-top:2%;
}
h2.pricef1{
    margin-left: 8%;
    margin-top: 2%;
    color:sienna;
    
}
span.pricef1{
    margin-left: 9%;
    margin-top: 2%;
    color: rgb(99, 96, 96);
    text-decoration: line-through;
}
h5.pricef2{
    margin-left:9%;
    margin-top:2%;
}
h3.prices1{
    margin-left: 8%;
    margin-top: 2%;
    color: cornflowerblue;
}
h5.prices2{
    margin-left:9%;
    margin-top:2%;
}
section.single{
    padding: 2%;
   background-color: rgb(248, 235, 225);
   border-radius: 15px;
}
section.double{
    padding: 2%;
    background-color: rgb(250, 231, 209);
    border-radius: 15px;
}
section.triple{
    padding: 2%;
    background-color: rgb(254, 222, 185);
    border-radius: 15px;
}
section.family{
    padding:2%;
    background-color: rgba(249, 200, 160, 0.897);
    border-radius: 15px;
}
section.suite{
    padding: 2%;
    background-color: rgb(238, 239, 240);
    border-radius: 15px;
}
img.room1{
    margin-right: 1.5%;
    border-radius: 10px;
}
img.room2{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room3{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room4{
    border-radius: 10px;
}
img.room5{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room6{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room7{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room8{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room9{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room10{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room11{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room12{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room13{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room14{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room15{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room16{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room17{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room18{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room19{
    margin-right:1.5%;
    border-radius: 10px;
}
img.room20{
    margin-right:1.5%;
    border-radius: 10px;
}
section.king{
    background-color: rgba(210, 209, 209, 0.881);
    padding: 2%;
    border-radius: 15px;
}
h2.king{
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 4%;
    color: #0f2153;
}
p.king{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  margin-left: 7%;
  margin-right: 25%;
}
section.queen{
    padding: 2%;
    background-color: rgb(248, 219, 233);
    border-radius: 15px;
}
section.president{
    padding: 2%;
    background-color: rgb(250, 222, 190);
    border-radius: 15px;
}
img.king1{
    width: 21%;
    margin-right: 3%;
    margin-left: 2%;
    border-radius: 10px;
}
img.king2{
    width: 19%;
    margin-right: 3%;
    margin-left: 2%;
    border-radius: 10px;
}
img.king3{
    width: 20%;
    margin-right: 3%;
    margin-left: 4%;
    border-radius: 10px;
}
h2.queen{
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 4%;
    color: #a45f88;
}   
img.queen1{
    width: 19%;
    margin-right: 3%;
    margin-left: 2%;
    border-radius: 10px;
}
img.queen2{
    width: 22%;
    margin-right: 3%;
    margin-left: 2%;
    border-radius: 10px;
}
img.queen3{
    width: 20%;
    margin-right: 3%;
    margin-left: 2%;
    border-radius: 10px;
}
p.queen{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  margin-left: 7%;
  margin-right: 25%;
}
img.queen4{
    width: 20px;
    border-radius: 10px;
}
h3.priceq1{
    margin-left: 8%;
    margin-top: 2%;
    color: rgb(245, 110, 157);
}
h5.priceq2{
    margin-left:9%;
    margin-top:2%;
}
img.pre1{
    margin-right: 1.5%;
    width: 22%;
    border-radius: 10px;
}
img.pre2{
    margin-right: 1.5%;
    width: 22%;
    border-radius: 10px;
}
img.pre3{
    margin-right: 1.5%;
    width: 22%;
    border-radius: 10px;
}
img.pre4{
    margin-right: 1.5%;
    width: 21%;
    border-radius: 10px;
}
p.pre{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    margin-left: 7%;
    margin-right: 25%;
}
h2.president{
    color:rgb(230, 132, 12);
}
h3.pricep1{
    margin-left: 8%;
    margin-top: 2%;
    color: rgb(206, 114, 9);
}
h5.pricep2{
    margin-left:9%;
    margin-top:2%;
}
button.next{
    background-color: rgba(22, 7, 67, 0.557);
    color: rgb(226, 232, 243);
    padding: 20px;
    border-radius: 50%;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    border-style: none;
    float:right;
    margin-bottom: 7%;
    font-size: larger;
    margin-right: 10%;
}
button.next:hover{
    background-color: rgb(60, 53, 83);
 
}
section.next{
    background-color: antiquewhite;
    padding: 4%;
    border-radius: 10px;
}
h2.next{
    color:rgb(110, 7, 7);
    margin-left: 20%;
}
button.smart{
    background-color: saddlebrown;
    color: seashell;
    padding: 1.5%;
    margin: 1%;
    border-radius: 15px;
    border: none;
    font-size: large;
}
button.smart:hover{
    background-color: rgb(107, 46, 3);
   }

