img.header{
    border-radius: 15px;
}
div.nav{
   background-color: rgba(163, 109, 48, 0.607);
   padding: .3%;
   width: 45%;
   float: right;
   border-radius: 20px;
   margin-top: .7%;
   margin-bottom: 1%;
}
ul.nav{
    display: flex;
    list-style-type:none;
}
ul.nav li{
    margin-left: 12%;
}
li.home a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding: 20%;
}
li.home a:link{
    color: rgb(132, 65, 34);
}
li.home a:visited{
    color: rgb(132, 65, 34);
}
li.feed a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;  
    padding: 15%; 
}
li.feed a:link{
    color: rgb(132, 65, 34);
}
li.feed a:visited{
    color: rgb(132, 65, 34);
}
li.about a:visited{
    color: rgb(132, 65, 34);
}
li.about a:link{
    color: rgb(132, 65, 34);
}
li.about a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding: 20%;
}
li.home a:hover{
    background-color: rgba(128, 63, 17, 0.653);
    color: seashell;
    border-radius: 15px;
}
li.feed a:hover{
    background-color: rgba(128, 63, 17, 0.653);
    border-radius: 15px;
    color: seashell;
}
li.about a:hover{
    background-color: rgba(128, 63, 17, 0.653);
    border-radius: 15px;
    color: seashell;
}
div.search{
    display: flex;
    margin-bottom: 3%;
    margin-top: 2%;
    margin-left: 2%;

}
h3#search{
    color: saddlebrown;
    margin: .5%;
}
form.search{
    margin-left: 2%;
    display: flex;
}
#input1{
    border: none;
    outline: none;
    border-bottom: rgb(96, 54, 2) solid 2px;
    border-left: rgb(96, 54, 2) solid 2px;
    background-color: transparent;
    border-radius: 15px;
}
#input2{
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: rgb(231, 160, 68);
    color: saddlebrown;
    margin-left: 2.5%;
    font-weight: bold;
}
footer.footer{
    background-color: rgb(2, 11, 39);
    font-style: oblique;
    color:#fff5ee;
    margin: 0 10 0 10px;
}
div.social-icons{
    margin-left: 30px;
    margin-top: 30px;
}
img.face{
width: 22px;
}
img.insta{
width: 22px;
}
img.twit{
 width: 22px;
 }
 img.whats{
  width: 22px;
 }
 p#copy-right{
     text-align: center;
 }
 p#copy-right span{
     color: sienna;
     font-family: serif;
 }
 footer.footer p.foot{
    display: inline-block;
    font-weight: bold;
}
p.foot{
    margin: 20px 50px 0px 30px;
}
div.null{
    color: slategray;
    font-size: smaller;
    margin-top: -60px;
    margin-left: 522px;
}
div.null2{
    color: slategray;
    font-size: smaller; 
    margin-top: -80px;
    margin-left: 220px;
    margin-bottom: 80px;
}
body.rooms{
    background-color: rgb(247, 227, 201);
}
table.space{
    width: 30%;
    float: right;
    margin-right: 11%;
    margin-top: 10%;

   
}
td.cells{
    border: 2px solid;
    border-radius: 8px;
    background-color: rgba(155, 155, 156, 0.45);
    text-align: center;
    border-color: transparent;
    font-size: large;
    font-weight: bold;
    color: rgb(42, 9, 88);
}
th.cells{
    border: 2px solid;
    border-radius: 8px;
    color: rgb(173, 110, 41);
    text-align: center;
    border-color: transparent;
    font-size: large;
    font-weight: bold;
    background-color: rgb(247, 195, 171);50%);
}
tr:nth-child(even){
    background-color:rgb(95, 38, 14,45%);
    color: blanchedalmond; 
}
div.space{
    
    background-image: url(backarea.jpeg);
    padding-bottom: 16%;
    padding-top: .5%;
    background-repeat: no-repeat;
    border-radius: 3%;
}
p.space{
color:rgb(139, 138, 135);
font-weight: bolder;
font-size: larger;
margin-left:5%;
margin-top: 4%;
margin-right: 5%;
}
h1.space{
    margin-left: 19%;
    margin-top: 4%;
    color: rgb(152, 78, 5);
    font-style: italic;
}
span.space{
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    color:rgb(247, 189, 139) ;
}
span.point{
    color: rgb(219, 217, 215);
    font-size: large;
    font-weight: bolder;
    margin-left: 7%;
}
img.point{
    width: 25px;
}
div.acc{
    background-image: url(backacc.jpeg);
    background-repeat: no-repeat;
    padding-bottom: 10%;
    margin-left: 1.5%;
    padding-top: .5%;
    border-radius: 2%;
}
ul.acc1{
    margin-right: 40%;
    margin-bottom: 20%;
    font-weight: bold;
    float: right;
    color: rgb(102, 50, 22);
}
ul.acc1 li{
    margin-bottom:1%;
}
h1.acc1{
    color: rgb(143, 81, 4);
    font-style: italic;
    margin-left: 4%;
    margin-top: 1%;
}
p.acc1{
    margin-left: 6%;
    margin-top: 4%;
    font-size: large;
    font-weight: bold;
    color: saddlebrown;
    font-style: italic;
    padding-bottom: 5%;
}
iframe.iframe{
  border-radius: 15px;
  border-color: black;
    margin-left: 22%;
}
div.iframe{
    background-color: #2e3549;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 1%;
   border-radius: 5%
}
div.kit{
    background-image: url(kit.jpeg);
    padding-bottom: 12%;
    padding-top: 3%;
    border-radius: 2%;
}
h1.kit{
    margin: 5%;
    color: rgb(170, 87, 27);
    font-style: italic;
}
p.kit{
    color: coral;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    margin-left: 7%;
    margin-top: 4%;
}
div.dropdown-contant{
    display: none;
    width: 30%;   
    background-color: rgba(254, 229, 201, 0.605);
    border-radius: 5%;
    float: right;
    margin-right: 40%;
}
ol{
    font-size: larger;
    font-weight: bold;
    margin-left: 25%;
}
ol li{
    margin-bottom: 5%;
}
button.press{
    border: none;
    border-radius: 12px;
    padding: 1%;
    background-color: sienna;
    color: bisque;
    margin-left: 15%;
    font-weight: bold;
    font-style: italic;
}
div.dropdown{
    display: inline;
    position: relative;
}
div.dropdown:hover div.dropdown-contant{
    display: block;

}
div.feed{
    height: 500px;
    background-color: darkgrey;
    border-radius: 30px;
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: url(backfeed.jpeg);
    background-repeat: no-repeat;
}
form.feedback{
width: 30%;
background-color: #99acacc9;
border-radius: 20px;
text-align: center;
margin-left: 35%;
padding-top: 2%;
padding-bottom: 2%;
}
input.comment{
    width: 70%;
    height: 60%;
}
h3.label{
    color: #048b84;
    font-style: italic;
}
input#comment{
    width: 95%;
    padding-bottom: 20%;
    border-radius: 10px;
    color: #fff5ee;
    border: none;
    background-color: #424c6700;
    font-weight: bold;
    border-bottom: 2px solid rgb(127, 218, 218);
    border-left: 2px solid  rgb(127, 218, 218);
    border-top: none;
    border-right: none;
    outline: none;
}
input#first{
    padding: 2%;
    background-color: #424c6700;
    border-radius: 10px;
    text-shadow: #05b7ae;
    border-bottom: 2px solid rgb(127, 218, 218);
    border-left: 2px solid  rgb(127, 218, 218);
    border-top: none;
    border-right: none;
    outline: none;
    font-weight: bold;
    color: #fff5ee;
    width: 40%;
}
input#last{
    padding: 2%;
    background-color: #424c6700;
    border-radius: 10px;
    border-bottom: 2px solid rgb(127, 218, 218);
    border-left: 2px solid  rgb(127, 218, 218);
    border-top: none;
    border-right: none;
    outline: none;
    font-weight: bold;
    color: #fff5ee;
    width: 40%;
    
}

input#email{
    padding: 2%;
    background-color: #424c6700;
    outline: none;
    border-radius: 10px;
    border-bottom: 2px solid rgb(127, 218, 218);
    border-left: 2px solid  rgb(127, 218, 218);
    border-top: none;
    border-right: none;
    font-weight: bold;
    color: #fff5ee;
}
input#submit{
    padding: 1%;
    border-radius: 15px;
    background-color: hsl(177, 95%, 37% ,50%);
    color: #464e4e;
    font-weight: bold;
    margin-top: 3%;
    width: 25%;
    border: none;
    font-size: 110%;
    outline: none;
}
label.com{
    font-weight: bold;
    font-size: large;
    color: #5f6565;
}
label.sug{
    font-weight: bold;
    font-size: large;
    color: #5f6565;
}
label.q{
    font-weight: bold;
    font-size: large;
    color: #5f6565;
}
h1.about1{
    color: rgb(125, 62, 17);
    margin: 1%;
}
h3.about1{
    color: saddlebrown;
    margin: 2%;
    font-style: italic;
}
p.about1{
    color: rgb(179, 108, 57);
    font-weight: bold;
    font-style: italic;
}















